language: python

python:
- 3.8
- 3.7
- 3.6
- 3.5
- 3.4

cache: pip

install: pip install -U tox-travis

script: tox

after_success:
  - pip install codecov
  - codecov

#deploy:
#  provider: pypi
#  distributions: sdist bdist_wheel
#  username: __token__
#  password: pypi-AgEIcHlwaS5vcmcCJDczMzM0YmVhLWE2YzQtNDVlYi1hOWFhLTQ1Mzc5Y2ZhNGQxYgACPnsicGVybWlzc2lvbnMiOiB7InByb2plY3RzIjogWyJzZWxlbml1bS13aXJlIl19LCAidmVyc2lvbiI6IDF9AAAGIOVHya-3eHDWBgsP9opVrRqiK3fXR7OAqjIsVaXEX0M4
#  on:
#    tags: true
#    repo: wkeeling/selenium-wire
#    python: 3.6
