include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include NOTICES
include README.rst

recursive-include tests *
recursive-include seleniumwire *.crt
recursive-include seleniumwire *.key
recursive-include seleniumwire *.exe
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.log

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
