name: build
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  isort:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v2
      - run: python -m pip install --upgrade pip
      - run: pip install tox
      - run: tox -e isort

  black:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v2
    - run: python -m pip install --upgrade pip
    - run: pip install tox
    - run: tox -e black

  flake8:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v2
    - run: python -m pip install --upgrade pip
    - run: pip install tox
    - run: tox -e flake8

  unit_tests:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            py: 3.9
          - os: macos-latest
            py: 3.9
          - os: ubuntu-latest
            py: '3.10'
          - os: ubuntu-latest
            py: 3.9
          - os: ubuntu-latest
            py: 3.8
          - os: ubuntu-latest
            py: 3.7
          - os: ubuntu-latest
            py: 3.6
    runs-on: ${{ matrix.os }}
    steps:
      - run: printenv
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.py }}
      - run: pip install tox
      - run: tox -e py
      - uses: codecov/codecov-action@v1
        if: matrix.os == 'ubuntu-latest' && matrix.py == '3.9'

  end2end_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - run: pip install tox
      - run: tox -e e2e
